.about
  &__story
    display: flex
    flex-direction: row
  &__img
    display: block
    width: 531px
    height: auto
    object-fit: cover
  &__block
    padding-left: 54px
  &__content-heading
    font-family: $font-default
    font-size: 18px
    color: #000000
    font-weight: 300
    letter-spacing: 7.2px
    text-transform: uppercase
    margin-top: 9px
    margin-bottom: 40px
  &__content-text
    margin-top: 9px
    margin-bottom: 45px
    font-family: $font-default
    font-size: 14px
    color: $text-color
    font-weight: 500
    letter-spacing: 0.35px
    line-height: 30px
  &__team
    padding-top: 95px
    padding-bottom: 75px
  &__team-header
    display: block
    text-align: center
  &__team-heading
    margin-top: 0
    margin-button: 40px
    font-family: $font-default
    font-size: 30px
    color: black
    font-weight: 300
    letter-spacing: 12px
    text-transform: uppercase
  &__team-text
    padding-left: 275px
    padding-right: 275px
    font-family: $font-default
    font-size: 14px
    color: $text-color
    font-weight: 500
    line-height: 30px
    letter-spacing: 0.35px
  &__team-cards
    margin-top: 65px





