html
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

$font-default: Roboto, sans-serif


$first-color: #ebebeb
$second-color: #e1e1e1
$link-color: #777777
$link-color-active: #000000
$text-color: #777777 
$heading-color: #333333
$button-color: #959595

body 
  margin: 0
  padding: 0
  background-color: #fafafa