.blog
  display: flex
  flex-direction: row
  justify-content: space-between
  @media (max-width: 750px)
    flex-direction: column
  &__main
    width: 100%
  &__posts
    margin: 0 auto
  &__sidebar
    width: 360px
  &__sidebar-search
    padding-bottom: 25px
  &__sidebar-block
    padding-bottom: 25px
  &__footer
      display: flex
      justify-content: center
      padding-top: 35px
      padding-bottom: 100px
