
.button
  border: none
  font: inherit
  color: inherit
  background-color: transparent
  cursor: pointer
  font-family: $font-default
  font-size: 13px
  font-weight: bold
  text-transform: uppercase
  background-color: #000000
  color: #ffffff
  padding: 8px 24px
  border-radius: 2px
  letter-spacing: 0.6px
  &_light
    background-color: #959595
    color: #ffffff
    
 

