.info
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 1fr 2fr
  grid-gap: 20px
  justify-content: center
  padding-bottom: 70px
  @media (max-width: 1140px)
    grid-template-columns: 1fr 1fr
    padding-left: 50px
    padding-right: 50px
  @media (max-width: 780px)
    grid-template-columns: 1fr
  &__title
    position: relative
    padding-bottom: 70px
    &:before
      position: absolute
      content: ""
      height: 2px
      width: 60px
      left: 0px
      top: 85px
      background: black
  &__title-heading
    margin-top: 0px
    margin-bottom: 10px
    font-family: $font-default
    font-size: 30px
    color: #000000
    font-weight: 300
    letter-spacing: 12px
    text-transform: uppercase
  &__title-text
    font-family: $font-default
    font-size: 16px
    color: $text-color
    font-weight: 500
    letter-spacing: 0.4px
  &__hours-address
    padding-bottom: 33px
  &__tell-fax
    padding-bottom: 11px
  &__text
    font-family: $font-default
    font-size: 15px
    color: $text-color
    font-weight: 500
    letter-spacing: 0.38px
  &__text-bold
    font-family: $font-default
    font-size: 15px
    color: #000000
    font-weight: 700
    letter-spacing: 0.38px
  &__form-list
    @media (max-width: 1140px)
      flex-direction: column
  &__form-input
    width: 358px
    @media (max-width: 1140px)
      width: 100%
      margin-bottom: 10px










