.nav 
  padding-right: 4px

  &__list 
    margin: 0
    padding: 0
    list-style: none
  
  &__item 
    display: inline-block
    margin-right: -4px

  &__link 
    display: block
    padding-left: 46px
    font-family: 'Roboto', sans-serif
    font-weight: bolder
    text-transform: uppercase
    color: #777777
    background-color: #FFFFFF
    text-decoration: none

  &__link_active 
    color: black
    background-repeat: no-repeat
    background-image: url("/img/menu/menu_line.png")
    background-position: 7px 50%