$font-default: Roboto, sans-serif
$title-color: #ffffff
$title-bg-color: #000000
$text-color: #000000
.slider
  &__item
    position: relative
    padding-top: 650px
  &__content
    display: flex
    justify-content: center
    align-content: space-between
    align-items: center
    flex-direction: column
    position: absolute
    text-align: center
    padding-top: 0
    top: 263px
    left: 448px
  &__title
    margin: 0
    margin-bottom: 32px
    padding-left: 44px
    padding-right: 38px
    padding-top: 4px
    padding-bottom: 4px
    font-family: $font-default
    font-weight: 300
    font-size: 48px
    letter-spacing: 4.7px
    line-height: 48px
    color: $title-color
    text-transform: uppercase
    background-color: $title-bg-color
  &__text
    margin: 0
    padding-left: 11px
    font-family: $font-default
    font-weight: 300
    font-size: 18px
    letter-spacing: 7.2px
    color: $text-color
    text-transform: uppercase
.owl-nav
  display: flex
  justify-content: space-between
  width: 1375px
  position: absolute
  top: 304px
  left: 111px
.owl-prev 
  position: relative
  border-radius: 100%
  cursor: pointer
  background-color: black
  height: 42px
  width: 42px
  &:after 
    position: absolute
    content: ""
    top: 13px
    left: 17px
    color: white
    border-right: 1px solid
    border-bottom: 1px solid
    height: 16px
    width: 16px
    transform: rotate(135deg)
.owl-next
  position: relative
  border-radius: 100%
  cursor: pointer
  background-color: black
  height: 42px
  width: 42px
  &:after 
    position: absolute
    content: ""
    top: 13px
    left: 10px
    color: white
    border-right: 1px solid
    border-bottom: 1px solid
    height: 16px
    width: 16px
    transform: rotate(-45deg)
.owl-dots
  display: flex
  justify-content: center
  position: absolute
  width: 100%
  left: 0px
  top: 580px
  margin-bottom: 10px
  text-align: center
  .owl-dot
    display: inline-block
    margin: 0 5px
    width: 14px
    height: 14px
    border: 4px solid white
    border-radius: 50%
    background-color: #ffffff
    cursor: pointer
    transition: background-color 0.2s
  .active
    border: 4px solid black




