.tag
  padding: 8px 16px
  font-family: $font-default
  font-size: 13px
  color: #9c9c9c
  border: 1px solid #eeeeee
  border-radius: 3px
  letter-spacing: 0
  text-decoration: none
  background-color: #ffffff
  &_active
    background-color: black
    color: #ffffff
    border: 1px solid black
  &_post
    font-weight: bold
    text-transform: uppercase
    background-color: black
    color: #ffffff
    border: 1px solid black